@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300");

#barBg {
  width: 50%;
  height: 40px;
  position: relative;
  background-color: #ddd;
  border-radius: 20px;
  margin-top: 250px;
  margin-left: 400px;
}

#bar {
  background-color: violet;
  background-color: #00b497;
  width: 0px;
  height: 40px;
  position: absolute;
  box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

body {
  background-color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#play {
  font-size: large;
}

:hover#play {
  cursor: pointer;
}

#percent {
  margin-left: 48rem;
}

/* rgb(124, 163, 66) */
/* #ff8a65 */
